$mainBlueColor: #2091ff;
$addBlueColor: #0a59a6;
$mainOrangeColor: #ff5c0e;
$addOrangeColor: #a63905;

.input {
	margin-bottom: 20px;
}

.button {
	margin-right: 15px;
}

.formItem {
	margin: 0;
}

.uploader {
	margin-bottom: 10px;
}

.preview {
	position: absolute;
	left: 0;
	top: 0;
	width: 102px;
	height: 104px;
}

.buttonStuff {
	margin-top: 10px;
	margin-right: 10px;
}

.stuffItem {
	font-size: 16px;
	line-height: 2.5;
}

.dangerStuffItem {
	font-size: 16px;
	line-height: 2.5;
}

.dangerStuffItem:hover {
	color: red;
	cursor: pointer;
}
