$mainBlueColor: #2091ff;
$addBlueColor: #0a59a6;
$mainOrangeColor: #ff5c0e;
$addOrangeColor: #a63905;

.slider {
	width: 100%;
	height: 900px;
}

.slider > ul > li > button {
	height: 12px !important;
}

.slide1 {
	background: url('../../assets/images/dark4.jpg') center no-repeat;
	background-size: cover;
	height: 900px;
	width: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.silde1Text {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 50px;
	text-shadow: 1px 1px 22px black;
}

.silde1Subtitle {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 22px black;
	color: $mainOrangeColor;
}

.slide2 {
	background: url('../../assets/images/jobs4.jpg') center no-repeat;
	background-size: cover;
	height: 900px;
	width: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.silde2Text {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 50px;
	text-shadow: 1px 1px 22px black;
}

.silde2Subtitle {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 22px black;
	color: $mainOrangeColor;
}

.slide3 {
	background: url('../../assets/images/natan3.jpg') center no-repeat;
	background-size: cover;
	height: 900px;
	width: 100%;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.silde3Text {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 50px;
	text-shadow: 1px 1px 22px black;
}

.silde3Subtitle {
	color: #fff;
	margin: 0;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 22px black;
	color: $mainOrangeColor;
}
